@use '../../../scss/' as *;

.Admin-catalog{
    width: 100%;
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    background-color: var(--bg-content-color);
    color: var(--txt-color);


    .Catalog{
        &__header{
            text-align: center;
            span{
                font-size: 2rem;
                text-transform: uppercase;
            }
            .LinkTo{
                display: flex;
                justify-content: flex-end;

                a{
                    margin: 0 2rem 10px 0;
                    padding: .4rem;
                    text-transform: capitalize;
                    border: 1px solid var(--bg-content-color-2);
                    background-color: var(--bg-content-color-2);

                }
            }
        }

        &__body{
            width: 100%;
            height: 100%;
        }
        label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        .movie_btn_create{
            float: right;
            transform: translateX(-50%);
            margin: 1rem 0;

            &:hover{
                color: $main-color;
            }
        }
    }
}

