@use '../../../scss/' as *;

.Admin-catalog{
    width: 100%;
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    background-color: var(--bg-content-color);
    color: var(--txt-color);


    .Catalog{
        &__header{
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
        }

        &__body{
            width: 100%;
            height: 100%;
        }
        label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        .movie_btn_create{
            float: right;
            transform: translateX(-50%);
            margin: 1rem 0;

            &:hover{
                color: $main-color;
            }
        }
    }
}

