@use '../../../scss/' as *;

.Admin-catalog{
    width: 100%;
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    background-color: var(--bg-content-color);
    color: var(--txt-color);


    .Catalog{
        &__header{
            text-align: center;
            span{
                font-size: 2rem;
                text-transform: uppercase;
            }
            .LinkTo{
                display: flex;
                justify-content: flex-end;

                a{
                    margin: 0 2rem 10px 0;
                    padding: .4rem;
                    text-transform: capitalize;
                    border: 1px solid var(--bg-content-color-2);
                    background-color: var(--bg-content-color-2);

                }
            }
        }

        &__body{
            width: 100%;
            height: 100%;
        }
        label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        .movie_btn_create{
            float: right;
            transform: translateX(-50%);
            margin: 1rem 0;

            &:hover{
                color: $main-color;
            }
        }
    }
}

.ListSchedule-page,
.ListRoom-page,
.ListGenre-page,
.ListCast-page,
.ListTrailer-page,
.ListMovie-page{
    width: 100%;
    height: auto;
    background-color: var(--bg-content-color-2);
    .table_movie{
        height: auto;
        overflow: auto;
        border-collapse: collapse;
        table{
            width: 100%;
            table-layout: fixed;
            tbody{
                tr{
                    &:nth-child(even){
                        background-color: var(--bg-table-even);
                    }
                }
                td{
                    button{
                        outline: none;
                        border: none;
                        border-radius: 6px;
                        cursor: pointer;
                        margin: .4rem;
                        color: $white;
                        .movie-icon{
                            padding: 10px;
                        }
                        &:nth-child(1){
                            background-color: green;
        
                            }
                        &:nth-child(2){
                        background-color: red;
    
                        }
                    }
                }
            }

            
            td,th{
                border-bottom: 1px solid #dddd;
                padding: 10px 20px;
                word-break: keep-all;
                text-align: center;
            }
            tr:hover td{
                color: $main-color;
                cursor: pointer;
                background-color: rgba($color: #777575, $alpha: 1.0);
            }
            thead{
                th{
                    position: sticky;
                    top: 0;
                    background-color: var(--bg-content-color-3);
                    color: var(--txt-color);
                    font-size: 15px;
                }
            }
        }
    }
}
