@use '../../../scss/' as *;


.CheckOut-page{
    width: 100%;
    height: auto;
    padding: 50px 0 ;
    background-color: #d6d4d4;
    .booking-time{
        font-size: 25px;
        color: red;
        margin: 0 auto 40px auto; 
        max-width: 900px;
        text-align: center;

        .title{
            font-size: 24px;
            display: block;
            color: $main-color;
            text-align: center;
        }

        span{
            font-size: 30px;
        }
    }
    .checkout-wrapper{

        .checkout-ticket{
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            background: #fff;
            box-shadow: 10px 10px 0 rgba(0,0,0,0.1), 0 0 30px rgba(0,0,0,0.3) inset;
            border-radius: 0 50px 0 50px;
            margin: 0 auto 40px auto; 
            padding: 30px 50px; 
            max-width: 900px;


            .ticket-info{
                width: 100%;

                .item-movie{
                    overflow: hidden;

                    &_img{
                        float: left;
                        width: auto;
                        max-width: 40%;
                        overflow: hidden;
                        margin: 0 30px 0 0;

                        img{
                            display: block;
                            height: 300px;
                            width: auto;
                        }
                    }

                    &_text{
                        color: $black;

                        h3{
                            font-size: 25px;
                            text-transform: uppercase;
                            color: #666;
                            line-height: 1.4;
                        }
                        p{
                            font-size: 15px;
                            line-height: 1.6;
                            margin: 10px 0;
                            color: #666;

                            span{
                                margin-left: 8px;
                                font-weight: 600;
                            }

                        }
                    }
                }

                .item-ticket{
                    color: $black;
                    display: table;
                    margin-top: 25px;
                    border-spacing: 1px;
                    width: 100%;
                    .item-title{
                        display: table-cell;
                        vertical-align: middle;
                        width: 80px;
                        min-width: 80px;
                        background-color: #cccccc;
                        text-align: center;
                        color: $black;
                        font-size: 15px;
                        font-weight: 600;
                    }

                    .item-seat{
                        display: table-cell;
                        vertical-align: middle;
                        width: calc(100% - 80px);
                        background-color: #cccccc;
                        ul{
                            display: inline-block;
                            width: 100%;
                            height: auto;
                            color: $black;

                            li{
                                display: inline-block;
                                width: 100%;
                                height: auto;
                                padding: 5px 20px;
                                border-bottom: 1px solid #fff;
                                font-size: 15px;
                                font-weight: 600;

                                span{
                                    float: right;
                                    font-size: 15px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

                .item-total{
                    color: $black;
                    margin: 25px 0 ;
                    overflow: hidden;
                    .title{
                        float: left;
                        font-size: 25px;
                        text-transform: uppercase;
                    }
                    span{
                        float: right;
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
            }
        }

        .payment{

            .form-text{
                color: $black;
                .title{
                    text-align: center;
                    font-size: 25px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .payment_method{
                    margin-top: 15px;
                    
                    & > div{
                        width: 100%;
                        margin: 0 0 10px ;
                        padding: 5px 0 0 0;
                        display: flex;
                        align-items: center;
                    }
    
                    input{
                        max-width: 18px;
                    }
                    span{
                        padding-left: 20px;
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: capitalize;

                    }
                }
                .payment-caution{
                    padding: 15px;
                    background-color: #fabf98;
                    span{
                        font-size: 1.4rem;

                        strong{
                            color: red;
                        }
                    }
                }
                .item-total{
                    color: $black;
                    margin: 25px 0 ;
                    overflow: hidden;
                    .title{
                        float: right;
                        font-size: 25px;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin-right: 15px;
                    }
                    span{
                        float: right;
                        font-size: 25px;
                        font-weight: bold;
                        color: $main-color;
                    }
                }
                .payment_button{
                    margin: 35px 0 20px 0 ;
                    text-align: center;
                    .ticket-btn{
                        margin-right: 25px;
                        padding: 0.9rem 2rem;
                        font-size: 16px;
                        text-transform: uppercase;
                        background-color: #f37520;
                        color: $white;
                        cursor: pointer;
                        border: none;
                        &:disabled{
                            cursor: no-drop;
                            background-color: #3b3b3b;
            
                            &:hover{
                                background-color: #3b3b3b;
                            }
                            
                        }
                        
                        &:hover{
                            background-color: rgb(253, 146, 74);
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}