@use '../../../scss/' as *;

.Account-page{
    width: 100%;
    height: auto;
    // background-color: red;
    .account-wrapper{
        @include tablet{
            display: block;


        }
        display: flex;
        margin: 25px 50px;

        .content-body{
            .btn_account_info{
                margin: 25px 0 0 0;
                transition: .2s ease ;
                &:hover{
                    background-color: $main-color;
                    color: $white;
                }
            }
            .table-info{
                padding: 16px;
                width: 100%;
                height: auto;
                background-color: #696969;
                color: $black;
                font-weight: bold;
                button{
                    margin: 10px;
                }
            }
            .table__body{
                button{
                    margin: 10px;
                }
            }
            border-radius: 5px;
            &:nth-child(1){
                @include tablet{
                    width: 100%;
                }
                width: 50%;
                height: 50%;
                padding: 15px;
                background-color: rgb(85, 83, 83);
            }

            &:nth-child(2){
                @include tablet{
                    width: 100%;
                    margin-left: unset;
                    margin-top: 15px;
                }
                width: 100%;
                margin-left: 10px;
                padding: 15px;
                background-color: rgb(85, 83, 83);

            }


            .title{
                font-size: 20px;
                font-weight: 600;
                color: $main-color;

                &-item{
                    font-size: 16px;
                    text-transform: capitalize;
                    color: $main-color;

                }
            }

            .table{
                table{
                    width: 100%;
                    tbody{
                        tr{
                            &:nth-child(even){
                                background-color: var(--bg-table-even);
                            }

                            &:hover{
                                cursor: pointer;
                                background-color: #646464;
                            }
                        }

                        td{
                            .item-seat{
                                display: block;
                            }
                            
                            
                        }
                    }
        
                    
                    td,th{
                        border: 1px solid #dddd;
                        padding: 10px 20px;
                        word-break: keep-all;
                        text-align: center;
                        text-transform: capitalize;
                    }

                    thead{
                        th{
                            top: 0;
                            background-color: #474545;
                            color: $main-color;
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }


            }
        }
    }

    .form-info{
        margin: 25px 50px;
        background-color: rgb(85, 83, 83);

        .form-header{
            font-size: 18px;
            text-align: center;
            background-color: rgb(85, 83, 83);
            padding: 15px;
            color: $main-color;
            font-weight: bold;
        }

        .form-body{
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(85, 83, 83);

            form{
                padding: 1rem;
                text-transform: capitalize;
                @include mobile {
                    display: block;
                    width: 100%;
                }
                width: var(--width-form);
            
                
                a, a:visited {
                    color: #fff;
                }
            
                h2{
                    @include mobile {
                        margin: 1.2rem 2rem;
                    }
                    background-color: $red;
                    display: grid;
                    justify-content: center;
                    margin-bottom: $margin-bottom;
                }
                button,
                textarea {
                font-family: 'Nunito', sans-serif;
                font-size: 22px;
                padding: 0.25rem;
                border-radius: 0.5rem;
                }
            
                input:focus{
                    border: 2px solid #00ff00;
                    
                }
            
                .instructions {
                    width: $width-input;
                    font-size: 0.75rem;
                    border-radius: 0.5rem;
                    background: #000;
                    color: #fff;
                    padding: 0.25rem;
                    position: relative;
                    bottom: -10px;
                    display: block;
                }
                
                .instructions > svg {
                    margin-right: 0.25rem;
                }
                
                .offscreen {
                    position: absolute;
                    display: none;
                }
                
                .hide {
                    display: none;
                }
                
                .valid {
                    color: limegreen;
                    margin-left: 0.25rem;
                }
                
                .invalid {
                    color: red;
                    margin-left: 0.25rem;
                }
                
                .errmsg {
                    background-color: lightpink;
                    color: firebrick;
                    font-weight: bold;
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                
                .line {
                    display: inline-block;
                }
            
                .input{
                    
                    &__password{
                        display: flex;
                        position: relative;
        
                        &__display{
                            background-color: transparent;
                            color: $black;
                            cursor: pointer;
                            position: absolute;
                            right: calc($width_search-btn - 39px);
                            top: 59%;
                            transform: translateY(-60%);
                            padding: 10px;
                        }
                    }
                    
                }
            
                .tag{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
            
                    .link{
                        font-size: 1.3rem;
                        text-decoration: underline;
                    }
                }
        
                button:disabled{
                    background-color: rgb(131, 131, 131);
                    color: #fff;
                }
                .input_status{
                    .status_item{
                        padding-top: .4rem;
                        vertical-align: middle;
                        @include mobile{
                            display: inline-block;
                            text-align: center;
                        }
                        span{
                            font-size: 1.4rem;
                            text-transform: capitalize;
                        }
                        .input_checkbox{
                            width: 50px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        

        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { 
            border: 1px solid #ccc; 
        }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50% !important; 
            color: $white;

            &:after{
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: rgb(60, 60, 60);
                top: 0;
                left: 35%;
        
            }
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 50%;
            transform: translateY(-50%);
            left: 6px;
            width: 30%; 
            padding-right: 10px; 
            white-space: nowrap;
            font-size: 13px;
            color: $main-color;
        }

        .tablet-ticket{
        
            td:nth-of-type(1):before { content: "mã vé"; }
            td:nth-of-type(2):before { content: "tên phim"; }
            td:nth-of-type(3):before { content: "thời gian đặt"; }
            td:nth-of-type(4):before { content: "số lượng vé"; }
            td:nth-of-type(5):before { content: "tổng tiền"; }
        }

        td:nth-of-type(1):before { content: "Họ tên"; }
        td:nth-of-type(2):before { content: "giới tính"; }
        td:nth-of-type(3):before { content: "email"; }
        td:nth-of-type(4):before { content: "phone"; }
        td:nth-of-type(5):before { content: "User"; }
    }
}


