@use '../../../../scss/' as *;

.ListCast-page{
    .page-header{
        display: flex;

        & > div{
            width: 450px;
            margin: 15px;
        }

        .title{
            width: 150px;
            text-transform: capitalize;
            font-size: 18px;
        }


    }
}