@use '../../../../scss/' as *;

.ListMovie-page{
    .page-header{
        display: flex;
        align-items: center;

        & > div{
            width: 450px;
            margin: 15px;
        }

        .select-custom{
            width: 250px;
        }
    }

}

